* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    background-color: rgba(255,93,88, 0.6);
    text-align: center;
    font-weight: 500;
    color: white;

}

.intro {
    color: maroon;
    text-align:justify;
    padding:1%;
    font-size: 25px;
    font-weight: 100;

}

.home-images {
    width: 471px;
    height: 300px;
}

.a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 471px;
    height: 300px;
}

div.recipes {
   
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 25px;
}

ul.recipe-list {
    list-style-type: upper-roman;
    font-size: 25px;
    display: inline-block;
}

ul#b {
    list-style-type:circle; 
    display: inline-block;
    font-size: 25px;
}

.button {
    font-size: 25px;
    background-color: rgba(255,93,88, 0.6);
    color: white;
}


