* {
    font-family:
    box-sizing: border-box;
   /* border: 1px solid black; */
    
 
}

.container {
    border: 1px solid black;
    
}


.recipe-card {
    display: inline-block;
    width: 400px;
    height:610px;
    background-color: rgba(242, 173, 134, 0.844);
    margin: 30px;
    border: 1px solid black;
    box-shadow: 10px 10px rgb(0, 0, 0);
    border-radius: 25px;

}


.image {
    width: 400px;
    height: 450px;
    margin: 0px;
    border-radius: 25px 25px 0 0;
    border-bottom:1px solid black;
    display: block;
}

.recipe-name{
    text-align: center;
    width:400px;
    font-weight: 100;


}

table {
    width: 350px;
    margin:-10px 25px 0px 25px;
    border-collapse: collapse;  
    
}
 

td, th {
    text-align: left;
    padding: 5px;
}

table, th, td {
    border: 0.85px solid black;

}


.button-container {
    text-align: center;
    width:400px;
    margin-top: 10px;

  
}

.click {
    background-color:transparent;
    border-radius:15px;
    width:150px;


}

/* CSS below is for recipe pages */


div.recipes {
   
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 25px;
}

ul.recipe-list {
    list-style-type: upper-roman;
    font-size: 25px;
    display: inline-block;
}

ul#b {
    list-style-type:circle; 
    display: inline-block;
    font-size: 25px;
}

/*.button {
    font-size: 25px;
    background-color: rgba(255,93,88, 0.6);
    color: rgb(222, 79, 79);
} */


